cis/*
data/*
data_bak/*
html/*
logs/*
tmp/*
*.log
*.json
*.tmp
logo_*.png
page_authors_check/images/*
exports/*.csv
conference-config.php
conference-secrets.php
libs/phpqrcode/cache/*
indico_stats_importer/not_present.txt
indico_stats_importer/make.php.orig
init.php
logo.png
template-custom.html
